<header class="site-header">
  <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list" style="float:right;">
          <li class="pure-menu-item"><a href="index" class="pure-menu-link">About me</a></li>
          <li class="pure-menu-item"><a href="http://uiwriting.tumblr.com/" class="pure-menu-link">Blog</a></li>
      </ul>
  </div>
</header>

<div class="pure-g site-secondary-header">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5"><h1>Beth Aitman</h1></div>
    <div class="pure-u-1-5"></div>
</div>
